/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

/* Body styles */
body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

/* Menu styles */
#menu {
  padding: 50px;
  text-align: center;
}

.menu-item {
  display: inline-block;
  width: 300px;
  margin: 20px;
  vertical-align: top;
}

.menu-item img {
  width: 100%;
}

.menu-item h3 {
  margin: 10px 0;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

/* About styles */
#about {
  padding: 50px;
  text-align: center;
}

#about img {
  width: auto;
  margin: 20px 0;
}

/* Contact styles */
#contact {
  padding: 50px;
  text-align: center;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

/* Footer styles */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}



footer a {
  color: blue;
  text-decoration: none;

}

footer a:hover {
  text-decoration: underline;
}